.top-area h1 {
    flex-grow: 2;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

  /* chat-list */
  .chat-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .chat-list-index {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-bottom: 1px solid #dbdbdb;

  }
  
  .chat-list-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }
  
  .chat-list-content h2 {
    font-weight: bold;
  }
  
  .chat-list-content p {
    font-size: small;
  }
  
  .chat-list-check {
    display: flex;
    margin-left: auto;
    background: #e7cce5;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  /* chat-room */
  .chat-room {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    padding-bottom: 56px;
  }

  .chat-content {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px 0 10px 0;
  }

  .flex-start{
    display: flex;
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }
  
  .chat-room-they {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .chat-room-they h3 {
    font-size: medium;
    background-color: #f8efef;
    border-radius: 10px;
    border: 1px solid #504e4e;
    margin-left: 14px;
    padding: 12px;
  }
  
  .chat-room-my {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  .chat-room-my h3 {
    font-size: medium;
    background-color: #f8efef;
    border-radius: 10px;
    border: 1px solid #f5f0f0;
    margin-inline: 12px;
    padding: 12px;
  }
  
  .chat-message-time {
    align-self: flex-end;
    p {
      font-size: 10px;
      color: #ccc;
      font-weight: bold;
    }
  }
  
  .bottom-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #dbdbdb;
    background-color: #fff;
    z-index: 10;
  }
  
  .chat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .user-icon {
    border-radius: 50%;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    align-self: flex-start;
    img {
      width: 30px;
      height: 30px;
      overflow: hidden;
    }
  }
  
  .message-content {
    border-radius: 8px;
    padding: 8px;
    background: #ffbfbf;
    margin: 0 5px 0 5px;
    p {
      max-width: 200px;
      font-size: 16px;
      color: #333;
      font-weight: bold;
    }
  }
  
  .sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }

  .content-box{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 5px;
  }

  .message-area {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  
  .message-send {
    padding: 10px 16px;
    border: none;
    background: #f2f2f2;
    border-radius: 32px;
    cursor: pointer;
    flex-grow: 3;
  }
  
  .message-send::placeholder {
    color: #c4c4c4;
  }
  
  .message-send:focus {
    outline: 2px solid #ffbfbf;
  }
  
  .send-button {
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #c4c4c4;
  }

  