.top-area h1 {
    flex-grow: 2;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

  /* chat-list */
  .chat-list {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .chat-list-index {
    display: flex;
    flex-direction: row;
    padding: 12px;
  }
  
  .chat-list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6px;
  }
  
  .chat-list-content h2 {
    font-weight: bold;
  }
  
  .chat-list-content p {
    font-size: small;
  }
  
  .chat-list-check {
    display: flex;
    margin-left: auto;
    background: #e7cce5;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  
  /* chat-room */
  .chat-room {
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 100px;
  }
  
  .chat-room-they {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .chat-room-they h3 {
    font-size: medium;
    background-color: #f8efef;
    border-radius: 10px;
    border: 1px solid #504e4e;
    margin-left: 14px;
    padding: 12px;
  }
  
  .chat-room-my {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .chat-room-my h3 {
    font-size: medium;
    background-color: #f8efef;
    border-radius: 10px;
    border: 1px solid #f5f0f0;
    margin-inline: 12px;
    padding: 12px;
  }
  
  .chat-message-time {
    font-size: small;
    margin-left: 8px;
    margin-top: auto;
  }
  
  .bottom-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #dbdbdb;
    background-color: #fff;
    z-index: 10;
  }
  
  .chat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .user-icon {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }
  
  .message-send {
    padding: 10px 16px;
    width: 80%;
    min-width: 316px;
    border: none;
    background: #f2f2f2;
    border-radius: 32px;
    cursor: pointer;
  }
  
  .message-send::placeholder {
    color: #c4c4c4;
  }
  
  .message-send:focus {
    outline: 2px solid #ffbfbf;
  }
  
  .send-button {
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #c4c4c4;
    padding: 24px;
  }
  