/* follow-list */
.follower-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
.followers {
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    justify-content: flex-start;
    border-bottom: 1px solid #ffbfbf;
}

.user-main-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid #ffbfbf;
}

.user-main-img img {
    width: 70px;
    height: 70px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 10px;
    flex-grow: 2;
}

.user-info h2 {
    font-size: 18px;
    font-weight: bold;
}

.user-info p {
    font-size: 14px;
    color: #767676;
}

.followBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.follow {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 36px;
    background: #ffbfbf;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s;
}

.cancle {
    background: #767676;
}

}