.tab-menu {
    position: fixed;
    bottom: -1px;
    width: 100%;
    border-top: 1px solid #DBDBDB;
    background-color: #fff;
    z-index: 10;
}
button{
    border: none;
    background-color: #ffffff;
}

.tab-menu-elements {
    width: calc(100% - 12px);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 14px;
    align-items: flex-end;
    text-align: center;
}

.tab-menu-elements li {
    width: 84px;
    cursor: pointer;
}

.tab-menu-elements li button {
    position: relative;
    display: inline-block;
    font-size: 10px;
    width: 100%;
    padding: 44px 1px 6px 0;
}

.tab-menu-elements li button::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 30px;
    background-size: contain;
}

.tab-menu-elements .tab-menu-home button::before {
    background-image: url(../../public/img/home_icon.png);
}
.tab-menu-elements .tab-menu-chat button:before {
    background-image: url(../../public/img/message_icon.png);
}
.tab-menu-elements .tab-menu-post button::before {
    background-image: url(../../public/img/edit_icon.png);
}
.tab-menu-elements .tab-menu-profile button::before {
    background-image: url(../../public/img/user_icon.png);
}
.tab-menu-home.on button::before {
    background-image: url(../../public/img/home_icon_fill.png);
}
.tab-menu-chat.on button::before {
    background-image: url(../../public/img/message_icon_fill.png);
}
.tab-menu-post.on button::before {
    background-image: url(../../public/img/icon-edit_fill.png);
}
.tab-menu-profile.on button::before {
    background-image: url(../../public/img/user_icon_fill.png);
}

.tab-menu-home.on button,
.tab-menu-chat.on button,
.tab-menu-profile.on button {
    color: #ffbfbf;
}
