.content-wrap {
    width: 100vw;
    overflow-x: hidden;
.top-area a {   
    font-size: large;
    font-weight: bold;
} 

.top-area img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}

.logo img {
    width: 150px;
    height: 150px;
}

.search-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-btn button {
    width: 132px;
    height: 44px;
    border-radius: 30px;
    outline: none;
    background: #ffbfbf;
    border: none;
    color :#fff;
    font-size: 14px;
    cursor: pointer;
}

// 홈의 게시글 영역

.post-image-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post-image-section img {
    width: 295px;
    height: 207px;
    border-radius: 10%;
    margin: 10px;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
}

.post-userinfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.user-nick {
    flex-grow: 2;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}

.timepass {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}

.post-content {
    padding: 10px 0;
}

.post-image-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    .second-image {
        width: 200px ;
        height: 140px ;
    }
    
    .other-image {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .other-image img{
        width: 143px ;
        height: 100px ;
        margin: 7px ;
    }
    
}

.post-image-section img {
    width: 295px;
    height: 207px;
    border-radius: 10%;
    margin: 10px;
}

.post-state {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.post-like {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    z-index : 8;
    cursor: pointer;
}

.like-count {
    margin-left: 4px;
}

.post-comment {
    display: flex;
    flex-direction: row;
    z-index : 8;
    cursor: pointer;
}

.comment-count {
    margin-left: 4px;
}

.post-date {
    margin: 10px 0px;
    font-weight: bold;
}

.post-blank {
    width: 100%;
    height: 65px;
}

@media(max-width: 400px){

    .second-image {
        width: 200px;
        height: 140px;
    }
    
    .other-image {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .other-image img{
        width: 88px !important;
        height: 62px !important;
        margin: 4px !important;
    }
    
    .post-image-section img {
        width: 190px;
        height: 133px;
        border-radius: 10%;
        margin: 7px;
    }
}


}
